<div>
    <h2 id="page-heading">
        <span jhiTranslate="edfmApp.productOffering.home.title">Product Offerings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-offering" [routerLink]="['/product-offering/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edfmApp.productOffering.home.createLabel">
            Create new Product Offering
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productOfferings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="poId"><span jhiTranslate="edfmApp.productOffering.poId">Po Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="edfmApp.productOffering.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comercialName"><span jhiTranslate="edfmApp.productOffering.comercialName">Comercial Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="poPrice.value"><span jhiTranslate="edfmApp.productOffering.poPrice">Po Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bucoSheet.name"><span jhiTranslate="edfmApp.productOffering.bucoSheet">Buco Sheet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let productOffering of productOfferings ;trackBy: trackId">
                <td><a [routerLink]="['/product-offering', productOffering.id, 'view' ]">{{productOffering.id}}</a></td>
                <td>{{productOffering.poId}}</td>
                <td>{{productOffering.name}}</td>
                <td>{{productOffering.comercialName}}</td>
                <td>
                    <div *ngIf="productOffering.poPrice">
                        <a [routerLink]="['../po-price', productOffering.poPrice?.id, 'view' ]" >{{productOffering.poPrice?.value}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productOffering.bucoSheet">
                        <a [routerLink]="['../buco-sheet', productOffering.bucoSheet?.id, 'view' ]" >{{productOffering.bucoSheet?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-offering', productOffering.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-offering', productOffering.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-offering/'+ productOffering.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
