<div>
    <h2 id="page-heading">
        <span jhiTranslate="edfmApp.environment.home.title">Environments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-environment" [routerLink]="['/environment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edfmApp.environment.home.createLabel">
            Create new Environment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="environments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="edfmApp.environment.name">Name</span></th>
            <th><span jhiTranslate="edfmApp.environment.environmentType">Environment Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let environment of environments ;trackBy: trackId">
                <td><a [routerLink]="['/environment', environment.id, 'view' ]">{{environment.id}}</a></td>
                <td>{{environment.name}}</td>
                <td>
                    <div *ngIf="environment.environmentType">
                        <a [routerLink]="['../environment-type', environment.environmentType?.id, 'view' ]" >{{environment.environmentType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/environment', environment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/environment', environment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'environment/'+ environment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
