<div>
    <h2 id="page-heading">
        <span jhiTranslate="edfmApp.pOCharacteristic.home.title">PO Characteristics</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-po-characteristic" [routerLink]="['/po-characteristic/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edfmApp.pOCharacteristic.home.createLabel">
            Create new PO Characteristic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pOCharacteristics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="edfmApp.pOCharacteristic.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="edfmApp.pOCharacteristic.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productOffering.poId"><span jhiTranslate="edfmApp.pOCharacteristic.productOffering">Product Offering</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pOCharacteristic of pOCharacteristics ;trackBy: trackId">
                <td><a [routerLink]="['/po-characteristic', pOCharacteristic.id, 'view' ]">{{pOCharacteristic.id}}</a></td>
                <td>{{pOCharacteristic.name}}</td>
                <td>{{pOCharacteristic.value}}</td>
                <td>
                    <div *ngIf="pOCharacteristic.productOffering">
                        <a [routerLink]="['../product-offering', pOCharacteristic.productOffering?.id, 'view' ]" >{{pOCharacteristic.productOffering?.poId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/po-characteristic', pOCharacteristic.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/po-characteristic', pOCharacteristic.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'po-characteristic/'+ pOCharacteristic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
