<div>
    <h2 id="page-heading">
        <span jhiTranslate="edfmApp.application.home.title">Applications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application" [routerLink]="['/application/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edfmApp.application.home.createLabel">
            Create new Application
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="edfmApp.application.name">Name</span></th>
            <th><span jhiTranslate="edfmApp.application.program">Program</span></th>
            <th><span jhiTranslate="edfmApp.application.gitURL">Git URL</span></th>
            <th><span jhiTranslate="edfmApp.application.gitToken">Git Token</span></th>
            <th><span jhiTranslate="edfmApp.application.jiraURL">Jira URL</span></th>
            <th><span jhiTranslate="edfmApp.application.jiraToken">Jira Token</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let application of applications ;trackBy: trackId">
                <td><a [routerLink]="['/application', application.id, 'view' ]">{{application.id}}</a></td>
                <td>{{application.name}}</td>
                <td jhiTranslate="{{'edfmApp.Program.' + application.program}}">{{application.program}}</td>
                <td>{{application.gitURL}}</td>
                <td>{{application.gitToken}}</td>
                <td>{{application.jiraURL}}</td>
                <td>{{application.jiraToken}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/application', application.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application', application.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
