<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="application">
            <h2><span jhiTranslate="edfmApp.application.detail.title">Application</span> {{application.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edfmApp.application.name">Name</span></dt>
                <dd>
                    <span>{{application.name}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.application.program">Program</span></dt>
                <dd>
                    <span jhiTranslate="{{'edfmApp.Program.' + application.program}}">{{application.program}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.application.gitURL">Git URL</span></dt>
                <dd>
                    <span>{{application.gitURL}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.application.gitToken">Git Token</span></dt>
                <dd>
                    <span>{{application.gitToken}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.application.jiraURL">Jira URL</span></dt>
                <dd>
                    <span>{{application.jiraURL}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.application.jiraToken">Jira Token</span></dt>
                <dd>
                    <span>{{application.jiraToken}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application', application.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
