<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-network-resource-heading" jhiTranslate="edfmApp.networkResource.home.createOrEditLabel">Create or edit a Network Resource</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!networkResource.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="networkResource.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.networkResource.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="networkResource.name" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="edfmApp.networkResource.networkParameter" for="field_networkParameter">Network Parameter</label>
                    <select class="form-control" id="field_networkParameter" multiple name="networkParameter" [(ngModel)]="networkResource.networkParameters">
                        <option [ngValue]="getSelected(networkResource.networkParameters, networkParameterOption)" *ngFor="let networkParameterOption of networkparameters; trackBy: trackNetworkParameterById">{{networkParameterOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
