<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deployPipeline">
            <h2><span jhiTranslate="edfmApp.deployPipeline.detail.title">Deploy Pipeline</span> {{deployPipeline.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edfmApp.deployPipeline.name">Name</span></dt>
                <dd>
                    <span>{{deployPipeline.name}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.url">Url</span></dt>
                <dd>
                    <span>{{deployPipeline.url}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.username">Username</span></dt>
                <dd>
                    <span>{{deployPipeline.username}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.password">Password</span></dt>
                <dd>
                    <span>{{deployPipeline.password}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.jobName">Job Name</span></dt>
                <dd>
                    <span>{{deployPipeline.jobName}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.application">Application</span></dt>
                <dd>
                    <div *ngIf="deployPipeline.application">
                        <a [routerLink]="['/application', deployPipeline.application?.id, 'view']">{{deployPipeline.application?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="edfmApp.deployPipeline.environment">Environment</span></dt>
                <dd>
                    <div *ngIf="deployPipeline.environment">
                        <a [routerLink]="['/environment', deployPipeline.environment?.id, 'view']">{{deployPipeline.environment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deploy-pipeline', deployPipeline.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
