<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-resource-heading" jhiTranslate="edfmApp.resource.home.createOrEditLabel">Create or edit a Resource</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!resource.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="resource.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.resource.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="resource.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.resource.resourceType" for="field_resourceType">Resource Type</label>
                    <select class="form-control" name="resourceType" [(ngModel)]="resource.resourceType" id="field_resourceType" >
                        <option value="Availability">{{'edfmApp.ResourceType.Availability' | translate}}</option>
                        <option value="Validation">{{'edfmApp.ResourceType.Validation' | translate}}</option>
                        <option value="Automatic">{{'edfmApp.ResourceType.Automatic' | translate}}</option>
                        <option value="Price">{{'edfmApp.ResourceType.Price' | translate}}</option>
                        <option value="Eligibility">{{'edfmApp.ResourceType.Eligibility' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.resource.relatedItem" for="field_relatedItem">Related Item</label>
                    <input type="text" class="form-control" name="relatedItem" id="field_relatedItem"
                        [(ngModel)]="resource.relatedItem" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.resource.relatedItemCharacteristic" for="field_relatedItemCharacteristic">Related Item Characteristic</label>
                    <input type="text" class="form-control" name="relatedItemCharacteristic" id="field_relatedItemCharacteristic"
                        [(ngModel)]="resource.relatedItemCharacteristic" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
