<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rule">
            <h2><span jhiTranslate="edfmApp.rule.detail.title">Rule</span> {{rule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edfmApp.rule.ruleId">Rule Id</span></dt>
                <dd>
                    <span>{{rule.ruleId}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.rule.ruleType">Rule Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'edfmApp.RuleType.' + rule.ruleType}}">{{rule.ruleType}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.rule.definition">Definition</span></dt>
                <dd>
                    <span>{{rule.definition}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.rule.scenario">Scenario</span></dt>
                <dd>
                    <span>{{rule.scenario}}</span>
                </dd>
                <dt><span jhiTranslate="edfmApp.rule.detail">Detail</span></dt>
                <dd>
                    <span>{{rule.detail}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rule', rule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
