<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-free-unit-heading" jhiTranslate="edfmApp.freeUnit.home.createOrEditLabel">Create or edit a Free Unit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!freeUnit.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="freeUnit.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.freeUnit.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="freeUnit.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.freeUnit.freeUnitType" for="field_freeUnitType">Free Unit Type</label>
                    <select class="form-control" name="freeUnitType" [(ngModel)]="freeUnit.freeUnitType" id="field_freeUnitType" >
                        <option value="RecurringFee">{{'edfmApp.FreeUnitType.RecurringFee' | translate}}</option>
                        <option value="SMS">{{'edfmApp.FreeUnitType.SMS' | translate}}</option>
                        <option value="Data">{{'edfmApp.FreeUnitType.Data' | translate}}</option>
                        <option value="AutoRefill">{{'edfmApp.FreeUnitType.AutoRefill' | translate}}</option>
                        <option value="RRSS">{{'edfmApp.FreeUnitType.RRSS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.freeUnit.units" for="field_units">Units</label>
                    <input type="text" class="form-control" name="units" id="field_units"
                        [(ngModel)]="freeUnit.units" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edfmApp.freeUnit.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="freeUnit.amount" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
